@font-face {
    font-family: "Thmanyah Sans";
    src: url("../fonts/thmanyah-sans-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans";
    src: url("../fonts/thmanyah-sans-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans";
    src: url("../fonts/thmanyah-sans-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans";
    src: url("../fonts/thmanyah-sans-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Thmanyah Sans";
    src: url("../fonts/thmanyah-sans-black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Thmanyah Sans";
    /* font-family: "Thmanyah Serif Text"; */
    box-sizing: border-box;
}

:root {
    /* Color 1 */
    --color_1: #51363c;
    --color_1_15: #51363c26;
    --color_1_25: #51363c40;
    --color_1_50: #51363c80;

    /* Color 2 */
    --color_2: #b47d50;
    --color_2_15: #b47d5026;
    --color_2_25: #b47d5040;
    --color_2_50: #b47d5080;

    /* Color 3 */
    --color_3: #f3ede3;
    --color_3_15: #f3ede326;
    --color_3_25: #f3ede340;
    --color_3_50: #f3ede380;

    /* Color 4 */
    --color_4: #232124;
    --color_4_05: #2321240d;
    --color_4_10: #2321241A;
    --color_4_15: #23212426;
    --color_4_25: #23212440;
    --color_4_50: #23212480;

    /* Color 5 */
    --color_5: #f9f9f9;
    --color_5_15: #f9f9f926;
    --color_5_25: #f9f9f940;
    --color_5_50: #f9f9f980;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-130deg, var(--color_3), var(--color_2));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bi-arrow-right{
    position: fixed;
    bottom: 6rem;
    right: 4rem;
    color: var(--color_1);
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
    transition: all 0.3s ease;
}
.bi-arrow-right:hover{
    background-color: var(--color_1_25);
}

.title_date{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 1rem;
    color: var(--color_1);
}


#header{
    width: 100%;
    height: 35vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem 3rem 0;
    z-index: 99999;
}
#header img{
    height: 40%;
    min-height: 4rem;
    max-height: 7rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#header .title{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}
#header .title h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color_5);
}
#header .title h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_3);
}

.line{
    display: none;
}


#index{
    width: 100%;
    height: 100%;
    min-height: 65vh;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 1rem 1rem 10rem;
}
#index nav{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: block;
}

#index nav h2{
    color: var(--color_3); /* a09fa0 */
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 0.65rem;
}
#index nav p{
    color: var(--color_3);
    font-size: 1.7rem;
    font-weight: 500;
}

#index nav .boxs{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 3rem 0;
    gap: 1.5rem;
}

#index nav .boxs .box{
    width: calc(25% - 1.25rem);
    min-width: 20rem;
    /* min-height: 13rem; */
    text-align: right;
    padding: 3rem 2.5rem;
    background-color: var(--color_3);
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 1rem #00000030;
}
#index nav .boxs .box:hover{
    box-shadow: 0 0 2.5rem #00000030;
}
#index nav .boxs .box h4{
    font-size: 1.6rem;
    color: var(--color_1);
    display: flex;
}
#index nav .boxs .box h4 div{
    width: 0.3rem;
    height: 1.8rem;
    border-radius: 1rem;
    background-color: var(--color_2);
    margin-left: 0.7rem;
}
#index nav .boxs .box .title{
    display: flex;
    justify-content: space-between;
    color: var(--color_1);
    margin-top: 3rem;
}
#index nav .boxs .box .title p{
    font-size: 1rem;
    color: var(--color_4);
    display: flex;
    margin-bottom: 0.5rem;
}
#index nav .boxs .box .bar{
    --progress: 0%;
    position: relative;
    width: 100%;
    height: 0.6rem;
    border-radius: 1rem;
    background-color: var(--color_4_10);
    margin-left: 0.5rem;
    overflow: hidden;
}

#index nav .boxs .box .bar::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--progress);
    height: 100%;
    border-radius: inherit;
    background-color: var(--color_2);
    transition: width 0.6s ease;
}


#index nav .boxs .summation_box{
    width: calc(25% - 1.25rem);
    min-width: 20rem;
    padding: 1.2rem 3.5rem;
    border-radius: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: var(--color_1);
    background-color: var(--color_3);
}
#index nav .boxs .summation_box:hover{
    box-shadow: 0 0 2.5rem #00000030;
}
#index nav .boxs .summation_box hr{
    width: 30%;
    height: 0.1rem;
    background-color: var(--color_1);
    border: none;
    outline: none;
}
#index nav .boxs .summation_box div{
    width: 12rem;
    font-size: 1.1rem;
}




header{
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: start;
    justify-content: space-between;
    top: 0;
    right: 0;
    display: flex;
    padding: 2rem 2rem 0;
    z-index: 99999;
    background-color: var(--color_3);
}
header img{
    height: 80%;
    min-height: 4rem;
    max-height: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
header .title{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
}
header .title h3{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_4);
}
header .title h5{
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--color_2);
}


#level{
    width: 100%;
    height: 100%;
    min-height: 90vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5rem 3rem;
    background-color: var(--color_3);
}
#level nav{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: block;
}

#level nav h2{
    color: var(--color_1); /* a09fa0 */
    font-size: 2.3rem;
    font-weight: 600;
}
#level nav p{
    color: var(--color_2);
    font-size: 1.5rem;
    font-weight: 500;
}

#level nav .navbar{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 3rem 2rem;
    padding: 4rem 1rem 0;
}

#level nav .boxs{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    border-radius: 2.4rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--color_2);
}

#level nav .month_title {
    color: var(--color_2);
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    padding: 0 1rem;
    top: -1rem;
    right: 2rem;
    background: var(--color_3);
}

#level nav .week_title {
    color: var(--color_2);
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    padding: 0 1rem;
    top: -1rem;
    right: 2rem;
    background: var(--color_3);
}


#level nav .boxs a{
    text-decoration: none;
    cursor: pointer;
}

#level nav .boxs .box{
    width: 20rem;
    min-height: 3rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.7rem 0.5rem 0.5rem;
    inset: 0;
    background: var(--color_1);
    border-radius: 2rem;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
#level nav .boxs .test_box{
    background: none;
    border: 1px solid var(--color_2);
}

#level nav .boxs .box:hover{
    box-shadow: 0 0 1.9rem var(--color_4_25);
}
#level nav .boxs .box h4{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_3);
}
#level nav .boxs .box a{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color_1);
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    background-color: var(--color_3_15);
    border: 1px solid var(--color_3_50);
    color: var(--color_3);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
#level nav .boxs .box a i{
    margin-left: 0.65rem;
    font-size: 1rem;
}
#level nav .boxs .box a:hover{
    color: var(--color_1);
    background-color: var(--color_3);
}



#level nav .boxs .test_box h4{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_2);
}
#level nav .boxs .test_box a{
    background: none;
    color: var(--color_2);
    background-color: var(--color_2_25);
    border: 1px solid var(--color_2);
}
#level nav .boxs .test_box a i{
    margin-left: 0.65rem;
    font-size: 1rem;
}
#level nav .boxs .test_box a:hover{
    color: var(--color_3);
    background-color: var(--color_2);
}



#level nav .boxs .now_value{
    width: 20rem;
    min-height: 3rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    inset: 0;
    background: var(--color_2);
    border-radius: 2rem;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

#level nav .boxs .now_value:hover{
    box-shadow: 0 0 1.9rem #2b1a1a30;
}
#level nav .boxs .now_value h4{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color_3);
}
#level nav .boxs .now_value a{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color_2);
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    background-color: var(--color_3);
    border: 1px solid var(--color_3);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
#level nav .boxs .now_value a i{
    margin-left: 0.65rem;
    font-size: 1rem;
}
#level nav .boxs .now_value a:hover{
    color: var(--color_3);
    background: none;
}




footer{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.65rem;
    background: var(--color_3_25);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    flex-direction: row;
    flex-wrap: wrap;
}
footer .copyright{
    display: flex;
    font-size: 0.8rem;
    color: var(--color_1);
}

footer .dev{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer .dev p{
    display: flex;
    font-size: 0.8rem;
    color: var(--color_4);
    margin-left: 1rem;
}
footer .dev a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
footer .dev a p{
    font-size: 0.8rem;
    color: var(--color_4);
    margin-right: 0.7rem;
    display: grid;
    line-height: 1.2rem;
}
footer .dev a img{
    height: 2rem;
    color: var(--color_1);
}



#preloader {
    right: 0;
    top: 0;
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color_3);
    background-size: 300% 300%;
    animation: gradientShift 6s ease infinite;
    transition: opacity 0.5s ease;
    z-index: 999999;
}
.preloader_img {
    height: 6rem;
}


/*1200*/
@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }
    header img{
        height: 90%;
    }
}


/*1055*/
@media (max-width: 1055px) {
    html {
        font-size: 80%;
    }
}


/*850*/
@media (max-width: 850px) {
    html {
        font-size: 70%;
    }
}


/*700*/
@media (max-width: 700px) {
    #header{
        height: 30vh;
    }
    #index{
        min-height: 70vh;
    }
    footer{
        position: relative;
        height: 7rem;
        justify-content: center;
        display: flex;
    }
    footer .copyright{
        display: flex;
    }    
    footer .dev{
        width: 100%;
        display: flex;
    }
}


/*600*/
@media (max-width: 600px) {
    html {
        font-size: 90%;
    }
    .bi-arrow-right{
        right: 1.5rem;
        font-size: 1.5rem;
    }
    #header img{
        height: 40%;
        min-height: 4rem;
        max-height: 6rem;
    }
    .line{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .line hr{
        width: 30%;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--color_2);
    }
    #index nav .boxs .box{
        width: 80%;
        min-width: 24rem;
    }
    header img{
        height: 70%;
        min-height: 3rem;
        max-height: 4rem;
    }
    #level{
        padding: 7rem 3rem;
    }
    #level nav h2{
        font-size: 2rem;
    }
}

/*380*/
@media (max-width: 380px) {
    html {
        font-size: 75%;
    }
}